@font-face {
    font-family: 'Roboto';
    src: url('Roboto.woff') format('woff');
}

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
@media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: white;
      --md-sys-color-background: #333;
      --md-sys-color-on-background: white;
      --md-sys-color-surface: #444;
      --md-sys-color-on-surface: white;
      --md-sys-color-on-surface-variant: #ccc;
      --md-sys-color-surface-container-high: #555;
      --md-sys-color-surface-container: #555;
      --md-sys-color-secondary-container: #666;
      --md-sys-color-on-secondary-container: white;
    }
  }

.bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.settings-radio-group, #color-picker {
    --md-elevation-level: 3;
    margin: 10px;
    padding: 10px;
    position: relative;
    border-radius: 16px;
}
.media-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.md-item[multiline] {
    flex-wrap: wrap;
    align-items: center;
}
#settings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#settings-container > * {
    max-width: 500px;
    flex-grow: 1;
    background-color: var(--md-sys-color-surface-container-high, #fff);
}

#end-of-media-list {
    margin-bottom: 50px;
}