* {
    font-family: system-ui;
}

.bottom-right {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.bottom-right>* {
    margin: 5px;
}

.bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.media-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.md-item[multiline] {
    flex-wrap: wrap;
    align-items: center;
}

#settings-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#settings-container>* {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}

#end-of-media-list {
    margin-bottom: 200px;
}

mdui-card {
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%
}

#refresh-list,
#clear-list {
    width: unset !important;
    /*This button seemed to bug with MDUI putting it at 0 width*/
}

mdui-select::part(menu) {
  max-height: 300px;
  overflow: auto;
  width: 100%;
}
